<div class="container">
    <div class="card shadow-lg mt-1">
        <div class="card-header bg-color">
            <h3 class="card-title text-white mb-0 text-size">Subscription Form</h3>
        </div>

        <div *ngIf="subscriptionForm.invalid && errorMessage">
            <div class="err-message" *ngIf="hasError( 'email', 'required')">Please enter the Email.</div>
            <div class="err-message" *ngIf="hasError( 'email', 'maxlength')">Please enter the Email with only max. 40 characters.</div>
            <div class="err-message" *ngIf="hasError( 'email', 'pattern')">Please enter the valid Email.</div>
            <div class="err-message" *ngIf="hasError( 'password', 'required')">Please enter the Password.</div>
            <div class="err-message" *ngIf="hasError( 'password', 'maxlength')">Please enter the Password with only max. 25 characters.</div>
            <div class="err-message" *ngIf="hasError( 'password', 'pattern')">Please enter the password with 8 characters long, at least one character and one special character.</div>
        </div>

        <div class="card-body form align-self-center">
            <form [formGroup]="subscriptionForm" (ngSubmit)="submitSubscription()">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" formControlName="email">
                    <div *ngIf="(!errorMessage && !emailError) || (subscriptionForm.get('email').touched && !submitted)">
                        <div class="err-message" *ngIf="hasError( 'email', 'required')">Please enter the Email.</div>
                        <div class="err-message" *ngIf="hasError( 'email', 'maxlength')">Please enter the Email with only max. 40 characters.</div>
                        <div class="err-message" *ngIf="hasError( 'email', 'pattern')">Please enter the valid Email.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="text-secondary">Subscription Type &nbsp; </label>
                    <select formControlName="subscriptionType">
                    <option *ngFor="let sType of subValueType.subscriptionTypes" [(value)]="sType.value">{{sType.name}}</option>
                  </select>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control text-primary" id="password" placeholder="Password" formControlName="password">
                    <div *ngIf="!errorMessage && !passwordError || subscriptionForm.get('password').touched && !submitted">
                        <div class="err-message" *ngIf="hasError( 'password', 'required')">Please enter the Password.</div>
                        <div class="err-message" *ngIf="hasError( 'password', 'maxlength')">Please enter the Password with only max. 25 characters.</div>
                        <div class="err-message" *ngIf="hasError( 'password', 'pattern')">Please enter the password with 8 characters long, at least one character and one special character.</div>
                    </div>
                </div>

                <button class="btn btn-primary shadow mr-2">Submit</button>
                <button class="btn btn-danger shadow" type="button" (click)="onDiscardConfirm()" [disabled]="!subscriptionForm.touched || !subscriptionForm.dirty"> Clear </button>
            </form>
        </div>
    </div>
</div>